<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>任务列表</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/vue/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/common/my.js"></script>
</head>
<body>
<div class="container">

    <h3><a href="/">首页</a></h3>
    <div align="right">
        <button type="button" class="btn btn-info" @click="add()">添加任务</button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th width="5%">序号</th>
            <th width="10%">所属应用</th>
            <th width="10%">任务名称</th>
            <th width="15%">任务描述</th>
            <th width="15%">执行CRON</th>
            <!--<th width="10%">创建时间</th>-->
            <th width="15%">下次调度时间</th>
            <th width="10%">启用状态</th>
            <th width="20%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) of page.records" :key="index">
            <td>{{index + 1}}</td>
            <td>{{item.jobAppName}}</td>
            <td>{{item.jobName}}</td>
            <td>{{item.jobDesc}}</td>
            <td>{{item.runCron}}</td>
            <!--<td>{{item.createTime}}</td>-->
            <td>{{item.triggerNextTime}}</td>
            <td v-text="enabledConvert(item.enabled, '未知')"></td>
            <td>
                <button type="button" class="btn btn-warning" v-if="item.enabled == 1" @click="disable(item.id)">停用</button>
                <button type="button" class="btn btn-success" v-if="item.enabled == 0" @click="enable(item.id)">启用</button>
                <button type="button" class="btn btn-secondary" @click="run(item.id)">调用</button>
                <button type="button" class="btn" v-if="item.enabled == 0" @click="edit(item.id)">编辑</button>
                <button type="button" class="btn btn-danger" v-if="item.enabled == 0" @click="del(item.id)">删除</button>
                <button type="button" class="btn btn-info" @click="log(item.id)">查看调度日志</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div align="right">
        共找到<span style="font-size: xx-large">{{page.total}}</span>条记录！
    </div>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" @click="query(page.current-1)">上一页</a></li>

        <li class="page-item" v-for="index of page.pages" :key="index">
            <a class="page-link" @click="query(index)">{{index}}</a>
        </li>
        <li class="page-item"><a class="page-link" @click="query(page.current+1)">下一页</a></li>
    </ul>

</div>
<script>
    new Vue({
        el: ".container",
        mounted: function () {
            this.query(1);
        },
        data: {
            page: {
                'current': 1,
                'pages': 0,
                'records': [],
                'size': 10,
                'total': 0
            }
        },
        methods: {
            query: function (pageNum) {
                var _this = this;
                if (pageNum < 1 || (pageNum > this.page.pages && this.page.pages != 0)) return;
                axios.get('/job/info/page_query?time=' + Date.now(), {
                    params: {
                        pageNum: pageNum,
                        pageSize: _this.page.size
                    }
                })
                    .then(function (response) {
                        var data = response.data;
                        if (data.code == 200) {
                            _this.page = data.content;
                        } else {
                            alert(data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            run: function (id) {
                var _this = this;
                axios.get('/job/info/run/' + id)
                    .then(function (response) {
                        MyAlert(response.data.msg);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            disable: function (id) {
                var _this = this;
                axios.get('/job/info/disable/' + id)
                    .then(function (response) {
                        var data = response.data;
                        if (data.code == 200) {
                            MyAlert(data.msg, reload);
                        } else {
                            MyAlert(data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            enable: function (id) {
                var _this = this;
                axios.get('/job/info/enable/' + id)
                    .then(function (response) {
                        var data = response.data;
                        if (data.code == 200) {
                            MyAlert(data.msg, reload);
                        } else {
                            MyAlert(data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            del: function (id) {
                var _this = this;
                axios.get('/job/info/delete/' + id)
                    .then(function (response) {
                        var data = response.data;
                        if (data.code == 200) {
                            MyAlert(data.msg, reload);
                        } else {
                            MyAlert(data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            add: function () {
                window.location.href="./add.html";
            },
            enabledConvert: function (key, defaultVal) {
                switch (key) {
                    case 0:
                        return "停用";
                    case 1:
                        return "启用";
                    default:
                        return defaultVal;
                }
            }
        }
    });

    function reload() {
        window.location.reload();
    }
</script>
</body>
</html>